/NGJ-Unity/Library
/NGJ-Unity/Build
/NGJ-Unity/Assembly-CSharp-vs.csproj
/NGJ-Unity/NGJ-Unity.sln
/NGJ-Unity/NGJ-Unity.userprefs
/NGJ-Unity/NGJ-Unity-csharp.sln
/NGJ-Unity/Assembly-CSharp.csproj
/NGJ-Unity/*.csproj
/NGJ-Unity/*.sln
/NGJ-Unity/*.userprefs
/NGJ-Unity/Temp
